
<div class="tab container">
    <h4>*Staff Type Descriptions:</h4>
    <dl>
        <dt>241 Scientist (1S)</dt>
        <dd>
            A research worker responsible for original thought, judgments, and accomplishments in independent scientific study. This includes investigation leaders and project leaders and portions of the time of supervising scientists or staff assistants who meet the preceding definition.<br />
            NIFA Examples: Professor, Associate Professor, Assistant Professor, Scientist.
        </dd>
        <dt>242 Professional (2P)</dt>
        <dd>
            A professional does not qualify as a scientist under the preceding definitions but may still significantly contribute to research activities. Professionals usually hold one or more college degrees and have otherwise qualified for employments in a professional category. Generally, professionals have a high degree of research activity responsibility but do not hold principal investigator status or equivalent at the reporting institution.<br />
            NIFA Examples: Department Head, Resident Director, Statistician, Analyst, Assistant Director, Dean.
        </dd>
        <dt>243 Technical (3T)</dt>
        <dd>
            Technical Staff are associated with research efforts in a technical capacity and do not participate in the investigative aspects of the research.<br />
            NIFA Examples: Lab Assistant, Mechanic, Carpenter, Machinist, Skilled Trades-person.
        </dd>
        <dt>244/None Administrative and Other (4C)</dt>
        <dd>
            These are clerical and support staff who contribute to the non-technical support of the project. It is often difficult to assess an individual's clerical and labor support to any one project; they usually support groups of researchers of different projects in a broad manner, such as by ordering supplies, typing reports, managing bill payments, performing janitorial work.<br />
            NIFA Examples: Secretary, Typist, Repairman, Janitor, Data Entry.
        </dd>
    </dl>
</div>