@using ReportViewerForMvc
@{
    ViewBag.Title = "AD-419 Non-Admin Report";
}

<h2>@ViewBag.Title</h2>
<hr />
<div>
    @Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer, new { style = "border: none" })
</div>
