
@{
    ViewBag.Title = "Aggie Enterprise (AE) Financial Reports";
}

<h2>@ViewBag.Title</h2>
<hr />
<br />
<p></p>
<div>
    <dl>
        <p>
        <dt>@Html.ActionLink("KFS Conversion and Project Comparisons", "AeComparisonReport", "Report")</dt>
        <dd>Compare KFS Carry-forward Account Balances and UCD Conversion Transactions against Faculty and Department Portfolio Report</dd></p>
        <dt>@Html.ActionLink("GL/PPM Reconciliation Report", "GlPpmReconciliationReport", "Report")</dt>
        <dd>Compare UCD Transaction Listing Report - GL and Subledger Detail against Faculty and Department Portfolio Report</dd></p>
    </dl>
</div>