@using ReportViewerForMvc

<h2>@Model.ReportName</h2>
<hr />
<p><i>It may take a while for the report page to load.  Your patience is appreciated.</i></p>
<div>
    @Html.ReportViewer(@Model.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer, new { style = "border: none" })
</div>

<div>
    @Html.ActionLink("Back to Report List", "Index")
</div>
