@model List<AD419.DataHelper.Web.Models.ProcessStatus>
@{
    ViewBag.Title = "Index";
}

<h2>Project Status</h2>

<ul class="checklist">
    @foreach (var status in Model)
    {
        <li class="@(status.IsCompleted ? "complete" : "incomplete")">
            @if (status.IsCompleted)
            {
                <i class="fa fa-check-circle bullet"></i>
            }
            else
            {
                <i class="fa fa-circle-thin bullet"></i>
            }
            <h2>@status.Name</h2>
            <p>@status.Notes</p>
        </li>
    }
</ul>