@using Microsoft.Reporting.WebForms
@using ReportViewerForMvc
@{
    ViewBag.Title = "FFY Expenses by ARC Report";
}

<h2>@ViewBag.Title</h2>
<hr />
<div>
    <p><i>The criteria used to generate this report can be reviewed here: @Html.ActionLink("Review FFY Expenses by ARC Report generation criteria", "Index", "FteReport").</i></p>
    @Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer, new { style = "border: none" })
</div>

@*//ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer,*@
