
<div>
    @using (Html.BeginForm("Upload", "AllProjectsImport", FormMethod.Post, new { id = "UploadForm", enctype = "multipart/form-data" }))
    {
        <div>
            <h4>Upload an All AES Projects List Excel file:</h4>
            <i>Please ensure your spreadsheet has the following column names as illustrated below: (Note that IsDepartmental, and OrgR will be populated automatically.)</i>
            <p><i>Select <a href="~/AllProjectsNew/Download" class="btn btn-link">here</a> to download a sample form.</i></p>
            <img src="/Content/Images/All AES Projects Example.png" alt="All AES Projects Excel upload file example" width="1100">
        </div>
        <br />
        <b>Please select an All AES Projects List Excel file to display:</b><input type="file" id="FileUpload1" name="FileUpload1" required="required" />
        <br />
        <input type="submit" value="Display All AES Projects List" title="Upload" class="btn btn-default" />
    }
</div>