@model IEnumerable<AD419.DataHelper.Web.Models.AllProjectsNew>

@{
    ViewBag.Title = "Index - All Projects";
}

@Html.Partial("_AllProjectsUpload")
<hr />

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@Html.Partial("_projectsTable", Model)

@section AdditionalScripts
{
    <script>
        $(function() {
            $('#newProjectTable').DataTable({
                lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]],
                columnDefs: [
                    { targets: [-1, -2, -3], sortable: false }
                ]
            });
        })
    </script>
}
