
@{
    ViewBag.Title = "New Projects Upload";
}

<h2>New Projects Upload</h2>

<ul id="uploadTabs" class="step-progressbar" role="tablist">
    <li role="presentation" class="active"><a href="#upload" aria-controls="home" role="tab" data-toggle="tab">Upload</a></li>
    <li role="presentation"><a href="#review" aria-controls="settings" role="tab" data-toggle="tab">Review</a></li>
    <li role="presentation"><a href="#confirm" aria-controls="settings" role="tab" data-toggle="tab">Confirm</a></li>
</ul>

<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="upload">
        <div>
            <h4>Upload an All AES Projects List Excel file:</h4>
            <i>Please ensure your spreadsheet has the following column names as illustrated below: (Note that IsDepartmental, and OrgR will be populated automatically.)</i>
            <p>
                <i>Select <a href="~/Content/Sample_Forms/ProjectsForImport.xlsx" class="btn btn-link">here</a> to download a sample form.</i>
            </p>
            <img src="/Content/Images/?" alt="All AES Projects Excel upload file example" width="1100">
        </div>

        <form id="UploadForm" method="post" enctype="multipart/form-data">
            <b>Please select an All AES Projects List Excel file to display:</b>
            <input type="file" id="FileUpload1" name="file" required="required"/>
            <br/>
            <input type="submit" value="Display All AES Projects List" title="Upload" class="btn btn-default"/>
        </form>
    </div>
    <div role="tabpanel" class="tab-pane" id="review">
        
    </div>
    <div role="tabpanel" class="tab-pane" id="confirm">
        <p>
            If all looks good, you can upload the values to the database.<br/>
            <i>Note: You can also edit the values once they have been saved.</i>
        </p>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save CFDA Numbers to Database" class="btn btn-default" />
            </div>
        </div>
    </div>
</div>

@section AdditionalScripts
{
    <script>
        $(function() {
            $('#UploadForm')
                .submit(function(event) {
                    event.preventDefault();

                    var formData = new FormData($(this)[0]);

                    // fetch table
                    $.post({
                        url: '@Url.Action("Upload")',
                        data: formData,
                        cache: false,
                        processData: false,
                        contentType: false
                    })
                    .success(function (view) {
                        $('#review').html(view);
                        drawTable();
                    });
                });
        });

        function drawTable() {
            return $('#newProjectTable').DataTable({
                lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]],
                initComplete: function () {
                    $('#uploadTabs a[href="#review"]').tab('show');
                }
            });
        }
    </script>
}