@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="jumbotron">
        <h1>AD-419 Data Helper Application Extraordinaire</h1>
        <p class="lead">It's awesome. Trust us.</p>
    </div>

    <div class="row">
        <div class="col-md-3">
            <h2>1. Import</h2>
            <p>Did you know we can read directly from your excel spreadsheets? That's right, just upload em' and we'll do the rest!</p>
            <p>Don't have any spreadsheets? We have samples!</p>
        </div>
        <div class="col-md-3">
            <h2>2. Review</h2>
            <p>We take your data and put it in tables. Then you review it! Edit it, Ignore it, you can even delete it! You're in charge.</p>
        </div>
        <div class="col-md-3">
            <h2>3. Configure</h2>
            <p>Fine tune the various Annual Report Codes (ARCs), Exclusions, Consolidation and DOS codes and Finance Doc Types used in conjunction with collecting the Financial and Labor data.  You're in control.</p>
        </div>
        <div class="col-md-3">
            <h2>4. Process</h2>
            <p>Press the big go button. Don't worry, it's easy. We'll do all the hard work.</p>
        </div>
    </div>
    <div>
        <hr/>
        <h4>AD-419 Reporting Year: @Session["FiscalYear"]</h4>
        To change the year, enter it here: @Html.TextBox("FiscalYear")
    </div>
</div>
