@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <br/>
    <div class="jumbotron">
        <h1>AD-419 Data Helper Application Extraordinaire</h1>

        <ul class="step-progressbar">
            <li class="active">
                <h2>Import</h2>
                <p>Did you know we can read directly from your excel spreadsheets? That's right, just upload em' and we'll do the rest!</p>
                <p>Don't have any spreadsheets? We have samples!</p>
            </li>
            <li class="active">
                <h2>Review</h2>
                <p>We take your data and put it in tables. Then you review it!</p>
                <p>Edit it, Ignore it, you can even delete it! You're in charge.</p>
            </li>
            <li>
                <h2>Configure</h2>
                <p>Fine tune the various Annual Report Codes (ARCs), Exclusions, Consolidation and DOS Codes and Finance Doc Types used in conjunction with collecting the Financial and Labor data.</p>
                <p>You're in control.</p>
            </li>
            <li>
                <h2>Process</h2>
                <p>Press the big go button.</p>
                <p>Don't worry, it's easy.</p>
                <p>We'll do all the hard work.</p>
            </li>
        </ul>

        <h4 class="pull-right">
            AD-419 Reporting Year: <span id="year-value">@ViewBag.FiscalYear</span>
            <a href="#" class="edit-year" data-toggle="modal" data-target="#fiscalYearModal">
                <i class="fa fa-pencil"></i>
            </a>
        </h4>
        <p class="lead">It's awesome. Trust us.</p>
    </div>
</div>

<div class="modal fade" id="fiscalYearModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Set Fiscal Year</h4>
            </div>
            <div class="modal-body">
                <form method="POST" action="@Url.Action("SetFiscalYear")">
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <input id="fiscalYear" type="number" min="2000" step="1" class="form-control" name="fiscalYear" value="@ViewBag.FiscalYear"/>
                    </div>
                    <input type="submit" class="btn btn-primary pull-right" value="Save Changes"/>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
</div>
